@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eveniment.md</title>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Styles/style.css">
    @Styles.Render("~/bundles/bootstrap/css")
</head>
<body>
    <!-- Header -->
    <div class="header-wrapper">
        <div class="container">
            @Html.Partial("_Header")
        </div>
    </div>
    
    <!-- Body -->
    <div class="container body-content">
        @RenderBody()
    </div>
    
    <!-- Footer -->
    <div class="footer-wrapper">
        <div class="container">
            <footer class="row py-4">
                @Html.Partial("_Footer")
            </footer>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/services")
</body>
</html>